* {
  box-sizing: border-box;
  margin: 0;
}

.hidden {
  display: none;
}

body {
  min-width: 900px;
  background-color: lightgrey;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font-size: 17px;
}

h2 {
  margin-top: 20px;
  margin-left: 70px;
}

.button {
  position: relative;
  padding: 3px 6px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 2.5px;
}

#notes-btn {
  float: right;
  top: 250px;
  right: 80px;
}

.screen-left {
  width: 275px;
  height: auto;
  border-right: 3px groove black;
}

.screen-right {
  background-color: white;
  border: 2px solid black;
  width: 550px;
  height: 500px;
  float: right;
  position: relative;
  bottom: 170px;
  right: 30px;
}

.parent-inputs {
  margin: 5px 0;
}

#container-users {
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 4px;
  border: 2px solid black;
  margin: 100px auto;
}

#nav-wrap {
  font-size: 20px;
  width: 150px;
  text-align: center;
}

.submenu li:hover {
  background: lightblue;
}

#menu-label {
  background-color: darkgrey;
  border-bottom: 4px solid black;
}

.submenu {
  position: relative;
  right: 40px;
}

#users {
  width: 200px;
  margin: 40px auto;
}

.menu1-btns {
  width: 110px;
  padding: 5px 0;
  background-color: lightgrey;
}

#teacher-container {
  width: 900px;
  height: 600px;
  background-color: lightgray;
  border-radius: 4px;
  border: 2px solid black;
  margin: 100px auto;
}

#students ul {
  position: relative;
  color: white;
  width: 160px;
  height: auto;
  margin: 70px auto auto 55px;
  background-color: black;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 50px;
}

#students ul li:hover {
  background: lightblue;
}

.student-btns {
  list-style: none;
  float: right;
  margin: 0 auto;
  width: 160px;
  padding: 15px 0;
  background-color: pink;
  text-align: center;
}

#student-container {
  width: 900px;
  height: 600px;
  background-color: red;
  border-radius: 4px;
  border: 2px solid black;
  margin: 100px auto;
}

#parent-container {
  width: 900px;
  height: 600px;
  background-color: green;
  border-radius: 4px;
  border: 2px solid black;
  margin: 100px auto;
}

#parent-info {
  position: relative;
  bottom: 140px;
  left: 270px;
  background-color: lightblue;
  width: 200px;
  height: 130px;
  margin: 70px auto auto 30px;
  padding-left: 30px;
}

#parents-box {
  position: relative;
  width: 100px;
  height: 75px;
}

span {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  background-color: #4e76ff;
  color: white;
  border-bottom: 3px solid #2544b2;
}

#p-info-input {
  position: relative;
  width: 130px;
  height: 150px;
}

#p-info-button {
  padding: 3px 6px;
  float: right;
  position: relative;
  top: -5px;
  left: -3px;
}

fieldset {
  border-width: 0.5px;
  border-style: none;
}

textarea {
  width: 350px;
  height: 40px;
  resize: none;
  padding: 0;
  margin: 0 auto;
}

.student-details {
  font-size: 22px;
  padding-left: 10px;
  width: 300px;
  color: black;
  height: auto;
  position: absolute;
  top: -30px;
  background-color: darkgrey;
}

#notes-area {
  position: relative;
  top: 130px;
  left: 150px;
}

#parent-button {
  position: relative;
}
